* {
    margin: 0;
    padding: 0;
}

/* Colors */
/*
#272a3f
#221e2a
#684e5f
#8f5b66
#ebd6c7
*/

body {
    margin: 10px;
    background-color: #ebd6c7;
    color: #272a3f;
}

.even {
	background-color: #684e5f;
	color: #ebd6c7;
}

.odd {
	background-color: #8f5b66;
	color: #ebd6c7;
}