/* CSS Document */

/*
Colors:
#222222
#1E2D2F
#949494
#B0B0B0
*/

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

* {
	margin: 0;
	padding: 0;
}

#content {
	margin: 2% 5%;
	background-color: dimgray;
	padding-bottom: 5%;
	border: solid 3.5px #B0B0B0;
}

body {
	background-image: url("../images/bg.jpeg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

#header {
	background-image: url("../images/heroIMG.png");
	text-align: center;
	padding: 20px;
	margin-bottom: 20%;
	font-size: 3em;
}


#contact {
	margin-left: 5%;
	padding: 10%;
	display: inline-block;
	border: solid 3px #222222;
	background-color: #949494;
}

#contact a {
	color: #FFF;
}

#contact a:hover {
	color: #1E2D2F;
}

#edu1 {
	margin-bottom: 4%;
	margin-top: -25%;
}

#edu1, #edu2 {
	margin-right: 5%;
	margin-left: 55%;
	border: solid 3px #000;
	padding: 2%;
	background-color: #949494;
}

#skills1 {
	margin-top: 5%;
	margin-left: 5%;
	display: inline-block;
	padding: 2%;
	padding-right: 35%;
	border: solid 3px #000;
	background-color: #949494;
}

#skills2 {
	margin-bottom: 10%;
	padding: 2%;
	border: solid 3px #000;
	margin-left: 5%;
	display: inline-block;
	border-top-width: 0px;
	padding-right: 32%;
	background-color: #949494;
}

#experience {
	float: right;
	margin-right: 6.5%;
	text-align: center;
	padding: 2%;
	border: solid 3px #000;
	margin-top: -3%;
	background-color: #949494;
}

#extra {
	float: none;
	display: block;
	padding: 5%;
	font-size: 1.5em;
	text-align: center;
	border: solid 3px #000;
	margin-left: 5%;
	margin-right: 5%;
	background-color: #949494;
}

#extra li {
	list-style-type: none;
	
	white-space: """""""""""""""""""""""""""""""""""""""
}




