/* CSS Document */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
	margin: 0;
	padding: 0;
}

body {
	text-align: center;
	background-color: #4C4C4C;
	color: #EDEDED;
	margin: 0 5%;
}

h1 {
	font-family: 'Press Start 2P', cursive;
	padding: 1%;
}

h2 {
	margin-left: 1%;
	padding: 1%;
}

blockquote {
	margin: 0 2%;
	padding: 1%;
}

table {
	padding: 1%;
}

nav {
	display: block;
	padding: 1%;
}

nav li {
	display: inline-block;
	padding: 1%;
}

h6 a {
	font-size: .1em;
	padding: 1%;
	color: #50E700;
	text-decoration: none;
}

nav li a {
	text-decoration: none;
	font-size: 2em;
	color: #50E700;
}

nav li a:hover, h6 a:hover {
	text-decoration: underline;
	color: #009547;
}

nav li a:active, h6 a :active {
	color: #50E700;
}

nav li a:visited, h6 a:visited {
	color: #96ECF0;
}

.button {
	border-radius: 10px;
}